@import "tailwindcss";

@theme {
  --font-sans: "Tajawal", "sans-serif";
  
  --color-primary-50: #f0f7ff;
  --color-primary-100: #e0effe;
  --color-primary-200: #bae0fd;
  --color-primary-300: #7cc5f8;
  --color-primary-400: #36a6f1;
  --color-primary-500: #0c8de4;
  --color-primary-600: #0270c3;
  --color-primary-700: #06599e;
  --color-primary-800: #0a4b83;
  --color-primary-900: #2e4385;
  --color-primary-950: #1e2b58;

  --color-gold-50: #faf5d7;
  --color-gold-100: #f6e8ab;
  --color-gold-200: #f0d97a;
  --color-gold-300: #eac84b;
  --color-gold-400: #dcb32f;
  --color-gold-500: #c79a00;
  --color-gold-600: #a88200;
  --color-gold-700: #876800;
  --color-gold-800: #6a5200;
  --color-gold-900: #4d3b00;
}

@layer base {
  body {
    @apply bg-gray-50 text-slate-800 font-sans antialiased;
  }
}
